body {
  margin: 0;
  min-width: 1024px;
  max-width: 1440px;
  min-height: 780px;
  max-height: 1024px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}