@use "../utils/variables";

.average-session-chart {
    border-radius: 5px;
    background: variables.$red;
    width: 265px;
    height: 265px;

    .recharts-surface {
        border-radius: 5px;
    }

    .recharts-legend-item {
        padding: 30px;
        margin: 0;
        font-size: 15px;
        opacity: 0.5;
        color: variables.$white;

        .recharts-surface {
            display: none !important;
        }
    }

    .recharts-reference-line {
        visibility: hidden;
    }

    &__tooltip {
        width: 34px;
        height: 25px;
        background-color: variables.$white;
        color: variables.$black;
        font-size: 9px;
        text-align: center;
        line-height: 25px;
    }
}