@use "../utils/variables";

.score-chart {
    border-radius: 5px;
    background: variables.$lightgrey;
    width: 265px;
    height: 265px;
    position: relative;

    &__title {
        font-size: 15px;
        color: variables.$blackchart;
        position: absolute;
        top: 25px;
        left: 30px;
    }

    .recharts-legend-wrapper {
        height: 255px !important;
        display: flex;
        justify-content: center;
        align-items: center;

        .recharts-default-legend {
            width: 150px;
            height: 150px;
            background-color: variables.$white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .recharts-surface {
                display: none !important;
            }
        }
    }

    .recharts-legend-item {
        margin: 0 !important;
    }

    &__legend {
        color: variables.$greyfont;
        font-size: 12px;

        &__value {
            font-size: 26px;
            font-weight: bold;
            color: variables.$blackchart;
        }
    }

}