@use "../utils/variables";

.sidenav {
    width: 120px;
    background-color: variables.$blacknav;
    color: variables.$white;

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 180px 0 100px 0;
    }

    li {
        margin: 20px 0;
    }

    p {
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        margin: 50px;
    }

}

@media screen and (min-width: 1367px) {
    .sidenav {
        nav {
            margin: 220px 0 130px 0;
        }
    }
}